<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Shawarmaspin</title>
	<link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
</head>

<body>
<div class="fullscreen-background"></div>
	<div class="col left v-fill dark-bg">
		<div class="header">Arena</div>
		<ul class="tabs">
			<li class="tab selected">
				&gt;Legends&lt;
			</li>
			<li class="tab">
				Heroes
			</li>
			<li class="tab">
				Troupes
			</li>
		</ul>

		<table class="stats">
			<thead>
				<tr>
					<th>Rank</th>
					<th>Name</th>
					<th>Score</th>
				</tr>
			</thead>

			<tbody>
				
			</tbody>
		</table>

		<div class="header">Chat</div>
		<div class="messages fill">
			
		</div>
	</div>

	<div class="col middle">
		<div class="social dark-bg">
			Social
		</div>
		<div class="score-box dark-bg">
			Score
			<div id="score-box">0</div>
		</div>
	</div>

	<div class="col right v-fill dark-bg">
		<div class="header">Troupe</div>
		
		<button type="button" class="abandon">Abandon</button>

		<ul class="tabs">
			<li class="tab selected">
				&gt;Legends&lt;
			</li>
			<li class="tab">
				Heroes
			</li>
		</ul>
		
		<table class="stats">
			<thead>
				<tr>
					<th>Rank</th>
					<th>Name</th>
					<th>Score</th>
				</tr>
			</thead>

			<tbody>
				
			</tbody>
		</table>

		<div class="header">Chat</div>
		<div class="messages fill">
			
		</div>
	</div>
	<script src="//code.jquery.com/jquery-1.11.3.min.js"
		type="text/javascript"></script>
	<script src="<%= static_path(@conn, "/js/app.js") %>"
		type="text/javascript"></script>
</body>
</html>
