form.name input {
  font-family: inherit;
  font-size: inherit;
  width: 2em;
}
.send {
  background: transparent;
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  margin-right: 1rem;
}
.send:after {
  content: "»";
}

.chat-history {
  height: 25vh;
  list-style: none;
  padding-left: 0;
  overflow-y: auto;
}
.chat-input {
  display: flex;
}
.chat-input input {
  flex-grow: 1;
}

.scoreboard table {
  width: 100%
}
.scoreboard table .name {
  text-align: center;
}

.status {
  align-items: center;
  display: flex;
  flex-direction: row;
}
