main {
  font-family: 'VT323';
}

form.name input {
  font-family: inherit;
  font-size: inherit;
  width: 2em;
}
form.name button {
  background: transparent;
  border: none;
}

.status {
  align-items: center;
  display: flex;
  flex-direction: row;
}
